
.allWrapper{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 20px;
}
.date{
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #1C233C;
  padding: 10px;
}
