@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neuton&display=swap');


.question {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 1px;
  padding: 12px 0;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.assemblyColor {
  color: #1F5CFA;
  display: flex;
}

.functions {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin: 0 0 15px 0;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dot {
  background-color: #1F5CFA;
  border-radius: 50%;
  width: 5px;
  height: 5px;
}

.text {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #1C233C;
  padding: 10px 0;
}

.allBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  @media(min-width: 768px) {
    .block {
      width: 80%;
    }
    .question {
      flex-direction: row;
    }
  }
  @media (min-width: 1024px) {
    .block{
      display: flex;
      flex-direction: column;
    }
    .allLine {
      display: flex;
      justify-content: space-between;
    }
    .wrapper {
      width: 250px;
      height: 50px;
    }
  }
  @media (min-width: 1440px) {
    .block {
      width: 60%;
    }

  }
}
