@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neuton&display=swap');

.installation–°ost {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 1px;
  padding: 25px 0;
  flex-direction: column;
  align-items: center;
}

.line {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 20px 0;
}

.wrapper {
  width: 100%;
  height: 550px;
  border-radius: 10px;
  box-shadow: 0 0 24px rgb(29 34 39 / 20%);
  padding: 15px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.name {
  width: 60%;
  font-size: 22px;
  font-weight: bold;
}

.price {
  font-size: 40px;
  font-weight: bold;
}

.text {
  display: flex;
  font-size: 20px;
  flex-direction: column;
  align-items: flex-start;
  text-align: initial;

  li {
    padding: 5px;
  }
}

.comment {
  display: flex;
  text-align: -webkit-right;
  color: #1C233C;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  padding: 10px 0;
}
